@import "general";
@import "media";

/* ==== REGISTRATION SECTION ====  */
.registration {
  .container {
    padding: 10px;
    background-color: white;
    padding-bottom: 0;
    border-bottom: 1px solid #d5dbe16e;
    .search {
      .searchForm {
        width: 80%;
        input {
          width: 80%;
          height: 40px;
          float: left;
          margin-top: 5px;
        }
        .btn {
          height: 40px;
          margin-top: 5px;
          margin-left: 15px;
          border: 1px solid $color;
          transition: all 0.4s ease;
          color: $color;
          &:hover {
            background-color: $color;
            color: white;
          }
        }
      }
    }
    .loginBlock {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          padding: 5px 12px;
          a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
            transition: all 0.3s ease;
            line-height: 50px;
            &:hover {
              color: $color !important;
            }
          }
        }
      }
    }
  }
}

/* ==== MENU SECTION ==== */

.navbar {
  // background-color: transparent !important;
  padding-top: 2px;
  padding-bottom: 0;
  background-color: white;
  li {
    transition: all 0.4s ease;
    padding: 5px;
    &:hover {
      background-color: $color;
      a {
        color: white !important;
      }
      .dropdown-link {
        color: black !important;
      }
    }
    .dropdown-menu {
      background-color: #f8f8f8;
      padding-top: 0;
      padding-bottom: 0;
      color: black;
      .dropdown-list:hover {
        .dropdown-link {
          text-decoration: none;
          color: white !important;
          transform: translateX(20);
        }
      }
    }
  }
  a {
    color: black !important;
    font-size: 15px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
  }
}

/* INDEX PAGE */

/* ==== SLIDER SECTION ==== */

#mySlider {
  border-bottom: 4px solid $color;
  padding: 0;
  .slider1 {
    @extend %slideSpecial;
    background-image: url("../images/slider/banner-2.jpg");
  }
  .slider2 {
    @extend %slideSpecial;
    background-image: url("../images/slider/carousel.jpg");
  }
  .overLay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    .saleText {
      top: 50%;
      position: absolute;
      transform: translate3d(20%, -50%, 0);
      font-family: "Courgette", cursive;
      text-align: center;
      h1 {
        color: $color;
      }
      h3 {
        color: white;
      }
    }
  }
}

/* ==== FEATURES SECTION ==== */

#features {
  background-color: white;
  padding: 0;
  h3 {
    text-align: center;
    span {
      color: $color;
    }
  }
  #productSlider {
    .btn {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/*=====NEW PRODUCTS SECTION=====*/

#newProducts {
  background-color: white;
  padding: 0;
  h3 {
    font-family: "Kanit", sans-serif;
    text-align: center;
    span {
      color: $color;
    }
  }
  .btn {
    a {
      text-decoration: none;
      color: white;
    }
  }
  .carousel {
    .fa {
      font-size: 22px;
      color: $color;
    }
  }
}
/*=====SERVICES SECTION======*/

.change {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition-duration: 0.8s;
}

.service {
  background-color: white;
  h3 {
    font-family: "Kanit", sans-serif;
    text-align: center;
    span {
      color: $color;
    }
  }
  .col-md-4:hover {
    background-color: #f8f8f8;
  }
  .imgSer {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: $color;
    border-radius: 50%;
    img {
      width: 30px;
      height: 30px;
      margin-top: 25px;
    }
  }
  .bodySer {
    padding-top: 20px;
    h5 {
      font-family: "Kanit", sans-serif;
    }
  }
}

/*=====MANUFACTURES SECTION=====*/

#manufactures {
  margin-top: 2px;
  background-color: white;
  .bgImage {
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .man1 {
    background-image: url("../images/clients/1.png");
  }
  .man2 {
    background-image: url("../images/clients/14.png");
  }
  .man3 {
    background-image: url("../images/clients/2.png");
  }
  .man4 {
    background-image: url("../images/clients/3.png");
  }
  .man5 {
    background-image: url("../images/clients/4.png");
  }
  .man6 {
    background-image: url("../images/clients/35.png");
  }
}

#footer {
  %icons {
    margin-bottom: 5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8f8f8;
  }
  padding: 0;
  background-color: #242424;
  ul {
    li {
      width: 80%;
      height: 40px;
      line-height: 40px;
      list-style: none;
      color: #f8f8f8;
      border-bottom: 1px solid gray;
      margin-top: 10px;
      span {
        @extend %icons;
        padding: 0 8px;
        font-size: 18px;
        font-family: "Kanit", sans-serif;

        i {
          color: #f8f8f8;
          font-size: 16px;
        }
      }
    }
  }
  %head {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid gray;
    h6 {
      font-size: 20px;
      font-family: "Kanit", sans-serif;
      color: $color;
      font-size: 22px;
    }
  }
  .social {
    .socialHead {
      @extend %head;
    }
    .socialIcons {
      a {
        @extend %icons;
        padding: 4px 10px;
        font-size: 20px;
        color: #f8f8f8;
        margin-right: 5px;
        transition: all 0.5s ease;
        &:hover {
          border: 1px solid $color;
          i {
            color: $color;
            transform: scale(1.2) rotate(30deg);
          }
        }
        i {
          transition: all 0.5s ease;
        }
      }
    }
  }
  .letter {
    .letterHead {
      @extend %head;
    }
    textarea {
      margin-top: 10px;
      width: 100%;
    }
    .sending {
      @extend .cartBtn;
      width: 130px;
      height: 40px;
      line-height: 40px;
      border: none;
      a {
        text-decoration: none;
        color: #f8f8f8;
      }
    }
  }
}

/* cHECKOUT PAGE */
.checkoutSection {
  background-image: url("../images/headers/people.jpg");
  @extend %pageHeaders;
  .checkoutHead {
    @extend %pageOverlays;
    .chText {
      @extend %pageHeaderText;
    }
  }
}

.checkoutMain {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  label {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: $size14;
  }
  .checkout-item {
    background-color: #eee;
    padding: 10px 0;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $color;
      font-size: 14px;
      padding-left: 10px;
      font-family: "Kanit", sans-serif;
      font-weight: bold;
      &:hover {
        color: darkblue;
      }
    }
  }
  h5 {
    font-family: "Kanit", sans-serif;
  }

  .optionsMain {
    p {
      font-size: $size14;
    }
    .cartBtn {
      width: 130px;
      font-size: $size14;
    }
    .userName {
      width: 300px;
    }
    .password {
      margin-top: 5px;
      width: 300px;
    }
  }
  .accountMain {
    display: none;
    select {
      width: 300px;
    }
  }
  .confirmMain {
    display: none;
    .btn {
      margin-top: 10px;
      float: right;
    }
  }
}

/* LOGIN OR REGISTRATION PAGE */

.loginSection {
  @extend %pageHeaders;
  background-image: url("../images/headers/keys.jpg");
  .loginHead {
    @extend %pageOverlays;
    .loginText {
      @extend %pageHeaderText;
    }
  }
}

.logReg {
  background-color: white;
  h5 {
    font-family: "Kanit", sans-serif;
    span {
      color: $color;
    }
  }
  form {
    input {
      width: 350px;
    }
  }
}

/* PRODUCT DETAILS PAGE */
.detailSection {
  @extend %pageHeaders;
  background-image: url("../images/details/banner.jpg");
  .detailHead {
    @extend %pageOverlays;
    .detailText {
      @extend %pageHeaderText;
    }
  }
}

.detailsBlock {
  background-color: white;
  padding: 50px 10px;
  .productImg {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    .fa {
      font-size: 22px;
      color: $color;
    }
  }

  .productInfo {
    font-family: "Kanit", sans-serif;
    .colorBlock {
      %color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
      }

      .color1 {
        @extend %color;
        background-color: black;
        position: relative;
      }
      .color2 {
        @extend %color;
        background-color: #7c0000;
      }
      .color3 {
        @extend %color;
        background-color: pink;
      }
      .color4 {
        @extend %color;
        background-color: darkblue;
      }
    }
    .size {
      li {
        padding: 0 10px;
        text-align: center;
        list-style: none;
        display: inline-block;
        border-right: 1px solid slategrey;
        &:last-child {
          border-right: none;
        }
      }
    }
    .smallPic {
      width: 100%;
      height: 100px;
      display: inline-block;
      text-align: left;
      .galleryPic {
        width: 60px;
        height: 80px;
        cursor: pointer;
        // border: 1px solid black;
      }
    }
    .btn {
      float: left;
    }
  }
  .combine {
    background-color: white;
    padding-top: 50px;
    .combineTitle {
      text-align: center;
      h3 {
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        span {
          color: $color;
        }
      }
    }
    .card {
      img {
        width: 100%;
      }
    }
  }
  .categories {
    .cateMan {
      border-top: 3px solid $color;
      padding: 10px 0;
      h6 {
        color: $color;
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
      }
      ul {
        li {
          list-style: none;
          transition: all 0.5s ease;
          &:hover {
            background-color: #eee;
          }
          &:hover a {
            color: $color;
          }
          a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            padding-left: 10px;
            font-weight: bolder;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
  .categories {
    .cateMan {
      border-top: 3px solid $color;
      padding: 10px 0;
      h6 {
        color: $color;
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
      }
      ul {
        li {
          list-style: none;
          transition: all 0.5s ease;
          &:hover {
            background-color: #eee;
          }
          &:hover a {
            color: $color;
          }
          a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            padding-left: 10px;
            font-weight: bolder;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
